.button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.active-button {
  color: #0284c7;
  border: 1px solid #0284c7;
  padding: 5px;
  border-radius: 5px;
}
